<router-outlet></router-outlet>
<app-navbar></app-navbar>

@for(post of posts.data; track post.id ){
    <div class="product-card">
        <div class="badge">Hot</div>
        <div class="product-tumb">
            <img src={{post.avatar}} alt="">
        </div>
        <div class="product-details">
            <span class="product-catagory">{{post.first_name}}</span>
            <h4><a href="">{{post.last_name}}</a></h4>
            <p>{{post.first_name}}</p>
            <div class="product-bottom-details">
                <div class="product-price"><small>{{post.first_name}}</small>{{post.first_name}}</div>
                <div class="product-links">
                    <a href=""><i class="fa fa-heart"></i></a>
                    <a href=""><i class="fa fa-shopping-cart"></i></a>
                </div>
            </div>
        </div>
    </div>
    
}
